body {
	background: #46629e;
}

#login a {
	display: block;
	background:white;
	padding:50px 20px;
	text-align: center;
	color:#46629e;
	font-size:20px;
	text-decoration: none;
}

#login a:hover {
	color:white;
	background: hotpink;
}

.hide {
	display:none;
}

#logged-in h1 {
	text-align: center;
	color:white;
	text-transform: uppercase;
}

#logged-in .profile-photo img {
	display: block;
	text-align: center;
	margin:0 auto;
	border:20px solid gold;
}